.wrapper {
  font-family: "Roboto";
  margin: 40px;
  display: grid;
  row-gap: 20px;
  justify-content: center;
}

.titleWrapper {
  margin: 0;
  display: grid;
  row-gap: 10px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.linksWrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.linksWrapper a {
  text-decoration: none;
  color: #bb7250;
}

.linksWrapper a:hover {
  color: #bb7250;
  font-weight: bold;
  text-decoration: underline;
}

/* Product */
.Title {
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.productWrapper {
  display: grid;
  width: 240px;
  height: 340px;
  border-radius: 20px;
  box-shadow: 0px 20px 40px rgba(52, 53, 99, 0.2),
    0px 1px 3px rgba(0, 0, 0, 0.05);
  background-size: 300px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}
.productWrapper:hover {
  transform: scale(1.05);
  transition: 1s;
}
.productWrapper img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.productWrapper button {
  position: absolute;
  background: #60c95d;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  border: none;
}

.productWrapper button:hover {
  transform: scale(1.3);
  transition: 1s;
}

.productWrapper p {
  font-size: 20px;
  margin: 0;
  color: white;
}

.productWrapper .textContainer {
  display: grid;
  gap: 10px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
  width: 100%;
  padding: 20px;
}

.productWrapper .productTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
  margin: 0px;
}

.productWrapper .productPrice {
  font-weight: normal;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin: 0px;
}

.productsWrapper,
.cartWrapper {
  width: fit-content;
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px;
}
